<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Konzolni appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- File appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/njamApp.log</file>  <!-- Lokacija log datoteke -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="debbug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Čogging level za Spring (opcionalno) -->
    <logger name="org.springframework" level="debug"/>
    <logger name="com.example" level="debug"/> <!-- Prilagodi prema svom paketu -->

</configuration>
